.btn{
    width: 100%;
}
.text{
    text-align: center;
    padding-bottom: 50px;
}
/* .content{
    margin-left: 50px;
} */
.footer{
    display: block !important;
}
.inputfield {
    border: solid;
}
.image{
    bottom: -28px;
}