.text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
}


/* .image :hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    background-color: gray;
    cursor: pointer;
    color: white;
} */

/* 
.image :hover ::after {
    z-index: 10;
} */

.p {
    font-size: large;
}

/* .image19 :hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    background-color: gray;
    cursor: pointer;
    color: white;
} */

/* .tabs {
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: 1px 1px 1px #000;
    background-color: black;
    color: white !important;
    text-decoration: none !important;
}

#exTab1 .tab-content {
    color: white;
    background-color: black !important;
    padding: 5px 15px;
}

#exTab1 .navpills>li>a {
    border-radius: 0;
}
.nav-pills>li+li {
    margin-left: 0px !important; */
/* } */
.tabs {
    border: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white !important;
}

/* li a {
    text-decoration: none;
} */

.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.head {
    padding-bottom: 200px;
    padding-top: 165px;
}

.tablist {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

.tablist li {
    float: left;
    width: 16.6%;
    min-height: 100px;
}

.tabImageWrap {
    height: 70px;
    overflow: hidden;
    display: inline-block;
}