.text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
}


.p {
    font-size: large;
}

.tabs {
    border: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black !important;
    color: white !important;
}

/* li a {
    text-decoration: none;
} */

.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.head {
    padding-bottom: 200px;
    padding-top: 165px;
}

.tablist {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

.tablist li {
    float: left;
    width: 16.6%;
    min-height: 100px;
}

.tabImageWrap {
    height: 70px;
    overflow: hidden;
    display: inline-block;
}