.body {
    overflow: hidden;
}

/* *{
    border: 1px solid red;

} */
.tab-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.tab-list li {
    float: left;
    width: 16.6%;
    min-height: 100px;
}

.tabImageWrap {
    height: 47px;
    overflow: hidden;
    display: inline-block;
}

.tab-list li a {
    margin: 0px !important;
    cursor: pointer;
    padding: 10px 10px !important;
}

.image-content {
   position: absolute;
   bottom: -16px;
   left: 0px;
}

.woman-img {
    padding-left: 80px;
}

.telecop-image {
   position: absolute;
   top: 0px;
   right: 0px;
}

.flowerPrayWoman-img{
    padding-right: 80px;
}

.group35-image {
    position: absolute;
    bottom: 75px;
    right: 0px;
}

.list-item {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.bannerwrap {
    margin: 0px auto;
    padding-top: 17px;
    padding-bottom: 80px;
    width: 796px;
}

.banner-image img {
    width: 100%;
}

.banner-text {
    padding-left: 25px;
    font-size: medium;
}

.relative {
    position: relative;
}

.group-image {
    position: absolute;
    top: 0px;
    left: -11px;
}
/* .remove-inmobile{
    display: none;
} */
.product-logo{
    width: 800px;
    margin: 0px auto;
    text-align: center;

}
.product-logo .pImageWrap{
    display: inline-block;
    padding: 0px 20px 20px 20px;

}
.service-content{
    padding-top: 30px;
    background-image: url('../assets/Services1.png');
    padding-bottom: 60px;
    background-size: cover;

}
.layout-img{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -50px;
}
.content{
    position: relative;
}
.contact-text{
    margin: 0px auto;
}
.contact-text .text-wrap{
    padding: 0px 5px 5px 5px;
}