.bgimage{
    background-image: url('../assets/shannon.png');
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
    margin-top: 10px;
    padding-bottom: 40px;
}
.text{
    color: white;
    display: flex;
    /*center For  vertically*/
    justify-content: center;
    flex-direction: column;
    /*center for horizontally*/
    align-items: center;
}