@media only screen and (max-width: 992px) {
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        font-size: 42px !important;
        /* margin: 20px !important; */
        float: left !important;
        margin-bottom: 57px !important;
        margin-top: 30px;
        margin-right: 10px;
    }

    .contact-content {
        width: 100% !important;
        height: 115px !important;
        margin-top: 109px;
    }


    .navbar-expand-lg .collapse.navbar-collapse {
        display: none !important;
    }

    .programwrap {
        width: 43% !important;
        padding-bottom: 0px;
    }

    /* .topography-img {
        width: 56px !important;
        height: auto !important;
        bottom: -60px;
        left: 10px;
    } */

    .number-ing {
        width: 56px !important;
        height: auto !important;
        bottom: -56px;
        right: 10px;
    }

    /* .product-logo .pImageWrap {
        width: 83%;
        display: block;
        padding: 0px 5px 10px 5px;

    } */
    .group-img {
        width: 23% !important;
        height: auto !important;
        top: 404px;
        left: 15px !important;
    }

    .program-img {
        width: 23% !important;
        height: auto !important;
        top: 404px !important;
        right: 15px;
    }


    /* .number-ing {
        width: 38px !important;
        height: auto !important;
        bottom: -56px;
        right: 0px;
    } */

    /* .Rectangle1-img {
        width: 0px;
        height: auto !important;
        top: 120px;
        left: -2px;
    } */

    .Rectangle3-img img {
        width: 100% !important;
        height: 70px !important;
        top: 76px !important;
        left: -2px !important;
    }

    /* .Rectangle-img {
        width: 52px;
        height: 100px;
        top: 53px;
        left: -2px;
    } */

    .Rectangle1-img img {
        width: 100% !important;
        height: 23px !important;
    }

    .Rectangle-img img {
        width: 100% !important;
        height: 30px !important;
    }

    .image7 {
        width: 14% !important;
        height: auto;
        top: 417px;
        left: 4px;
    }

    .image9 {
        width: 14% !important;
        height: auto;
        top: 417px;
        right: 4px;
    }

    .product-logo {
        width: 102% !important;
        margin: 0px auto !important;
        text-align: center !important;

    }

    .product-logo .pImageWrap {
        width: 100%;
        display: block;
        padding: 0px 5px 10px 5px;

    }

    .service-img {
        position: relative;
        bottom: 0px;
        right: 0px;
    }


    .layout-img img {
        width: 55px !important;
    }

    .woman-img {
        width: 150px !important;
        height: auto !important;
    }

    .flowerPrayWoman-img {
        width: 150px !important;
        height: auto !important;
    }

    .layout-img {
        bottom: -24px;
    }

    .layout-img img {
        width: 55px !important;
    }

    .woman-img {
        width: 150px !important;
        height: auto !important;
    }

    .flowerPrayWoman-img {
        width: 150px !important;
        height: auto !important;
    }

    .group-image {
        width: 32% !important;
        height: auto !important;
        left: -15px;
    }

    .telecop-image {
        width: 150px !important;
        height: auto !important;
    }

    .image-content {
        width: 30% !important;
        height: auto !important;
        bottom: -2%;
    }

    .group35-image {
        width: 30% !important;
        height: auto !important;
    }

    .bannerwrap {
        width: 100% !important;
        padding-bottom: 81px;
    }

    .imgWrap {
        padding: 0px 20%;
    }

    .tab-list {
        width: 100% !important;
        padding-left: 17px;
        display: none;
    }

    .tab-text {
        display: none;
    }


    .tab-list li {

        width: 32% !important;
    }

    .tabfor-mobile {
        padding-left: 148px !important;
    }

    .tab-panel {
        width: 100%;
        height: 200px;
        overflow: scroll;
    }

    .number-img {
        width: 12% !important;
        height: auto !important;
        bottom: -109px;
        right: 0px;
    }

    .topography-img {
        width: 12% !important;
        height: auto !important;
        bottom: -118px !important;
        left: 30px !important;
    }
}

@media only screen and (max-width: 600px) {

    /*  .Services_text____l2G p{     font-size: 14px;
        line-height: 23px;} */

    .tab-panel {
        /* max-height: 100%; */
        width: 100%;
        height: 200px;
        overflow: scroll;
        margin-left: 1px;
    }

    .tabfor-mobile {
        padding-left: 34px !important;
    }

    .contact-content {
        width: 100% !important;
        height: 60px !important;
        margin-top: 96px;
    }

    /* .scout-text{
        left: 10px;
    } */

    .program-text {
        padding-left: 24px;
    }

    .tab-list li {

        width: 100% !important;
    }

    .tab-list {
        padding-left: 90px;
        display: none;
    }

    .tab-text {
        display: none;
    }

    .group-image img {
        width: 150px !important;
        height: auto !important;
        left: -15px;
        ;
    }

    .telecop-image {
        width: 150px !important;
        height: auto !important;
    }

    .image-content {
        width: 126px !important;
        height: auto !important;
        bottom: -8px;
    }

    .group35-image {
        width: 150px !important;
        height: auto !important;
    }

    .bannerwrap {
        width: 100% !important;
        padding-bottom: 200px;
    }

    .product-logo {
        width: 100% !important;
        margin: 0px auto !important;
        text-align: center !important;

    }

    .product-logo .pImageWrap {
        width: 100%;
        display: block;
        padding: 0px 5px 10px 5px;

    }

    .service-img {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .service-img .position-inmobile {
        position: absolute;
        bottom: 163px;
        right: 9px;
    }

    .service-content {
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .content {
        position: relative;
        right: 0px;
        left: 0px;
    }

    .layout-img {
        bottom: -24px;
    }

    .layout-img img {
        width: 55px !important;
    }

    .woman-img {
        width: 150px !important;
        height: auto !important;
    }

    .flowerPrayWoman-img {
        width: 150px !important;
        height: auto !important;
    }

    .imgWrap {
        padding-top: 0px;
        padding-bottom: 50px;
        ;
    }

    /* .program-img {
        width: 100px;
        height: auto;
        bottom: 0px;
        right: 0px;
    } */

    /* .program-img .position-inmobile {
        position: absolute;
        bottom: 240px;
        right: 20px;
    } */

    /* .program-img .positionfor-inmobile {
        position: absolute;
        bottom: 240px;
        left: 20px;
    } */

    .contact-img {
        position: relative !important;
        bottom: 0px;
        right: 0px;
    }

    .contact-img .responsivefor-mobile {
        position: absolute;
        bottom: 180px;
        left: 20px;
    }

    .contact-img .responsive-mobile {
        position: absolute;
        bottom: 180px;
        right: 20px;
    }

    .programwrap {
        width: 43% !important;
        padding-bottom: 0px;
    }

    .group-img {
        width: 28% !important;
        height: auto !important;
        top: 872px;
        left: 2px !important;
    }

    .program-img {
        width: 28% !important;
        height: auto !important;
        top: 872px !important;
        right: 2px;
    }

    .topography-img {
        width: 9% !important;
        height: auto !important;
        bottom: -101px !important;
        left: 20px !important;
    }

    .number-img {
        width: 12% !important;
        height: auto !important;
        bottom: -95px;
        right: 0px;
    }

    .Rectangle1-img {
        width: 0px;
        height: auto !important;
        top: 120px;
        left: -2px;
    }

    .Rectangle3-img {
        width: 486px;
        height: 100px;
        top: 76px;
        left: -2px;
    }

    .Rectangle-img {
        width: 52px;
        height: 100px;
        top: 53px;
        left: -2px;
    }

    .Rectangle1-img img {
        width: 485px !important;
        height: 23px !important;
    }

    .Rectangle-img img {
        width: 485px !important;
        height: 30px !important;
    }

    .Rectangle3-img img {
        width: 485px !important;
        height: 44px !important;
    }

    .contactwrap {
        margin: 0px auto;
        padding-top: 206px;
        width: 215px;
    }

    .image7 {
        width: 74px !important;
        height: auto;
        top: 318px;
        left: 1px;
    }

    .image9 {
        width: 74px !important;
        height: auto;
        top: 318px;
        right: 1px;
    }

    .imgWrap {
        padding: 0px 0%;
    }

    .banner-text {
        padding: 0px;
        margin: 0px;
    }

    .navbar-toggler {
        font-size: 19px !important;
    }

    .group29 {
        width: 100% !important;
        height: auto;
        bottom: -150px;
    }

}

@media only screen and (min-width: 1024px) {

    .tabfor-mobile {
        display: none;
    }

    .contact-content {
        width: 100% !important;
        height: 172px !important;
        margin-top: 21px;
    }

    .number-img {
        position: absolute;
        bottom: -27px;
        right: 0px;
    }

    /* .number-img {
    position: absolute;
    bottom: -47px;
    right: 0px;
} */

    .group-img {
        position: absolute !important;
        top: 108px;
        left: 8.9% !important;
    }

    .program-img {
        position: absolute;
        top: 103px;
        right: 8.9%;
    }

    .topography-img {
        position: absolute;
        bottom: -27px;
        left: 82px !important;
    }

    /* .topography-img {
    position: absolute;
    bottom: -47px;
    left: 68px;
} */
    .image9 {
        position: absolute;
        top: 327px;
        right: 68px;
    }


    .image7 {
        position: absolute;
        top: 327px;
        left: 68px;
    }

    .group-image {
        width: 32% !important;
        height: auto !important;
        left: -15px;
    }
}